div{
    height:600px;
    width:600px;
    background-color: red;
    color:white;
}
@media screen and (width<576px){
   div{ background-color: blue;
   }
}
@media screen and (min-width:576px ) and (max-width:768px){
   div{ background-color: green;
   }
}
@media screen and (min-width:768px ) and (max-width:992px){
   div{ background-color: yellow;
   }
}
@media screen and (min-width:992px){ 
   div{ background-color: orange;
   }
}