* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
}

div a {
    color: white;
    padding-right: 3rem;
    text-decoration: none;
    padding: 20px;
    justify-content: space-around;


}

.main-section {
    background-image: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3R1ZHklMjBncm91cHxlbnwwfHwwfHx8MA%3D%3D");
    height: 70vh;
    background-size: cover;
    background-position: center;

}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

 button{
    padding:3px;
    border-radius: 7px;
    background-color: lightskyblue;
}

.main{
    display:grid;
    grid-template-columns: 300px 1fr;
}
.category-section{
    padding: 1rem 2rem;
    background-color: rgb(235,236,239);
}
.category-section h3{
    font-size: 1.5 rem;
    font-weight:bold;
}
.category-section ul li{
    list-style:none;
    padding: 1rem 0;
}
.card{
    display:flex;
    flex-wrap: wrap;
    gap:1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}
@media screen and (max-width:768px){
header div a{
    display:none;
}
    
}