* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
}
div a {

    text-decoration: none;
    align-items: center;
    font-size:1.1rem;
    padding: 20px;
    color: white;
}

.left {
    background-color: #0f0f0f;
    height: 100vh;
    width: 20vw;
}

.left ul li {
    list-style: none;
    padding: 1rem 2 rem;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
}

.sub section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.cards-section {
    border: 1px solid red;
    display:grid;
    grid-template-columns: repeat (4, 1fr);
}
.button{
    color:black;
    background-color: lightseagreen;
    border-radius: 7px;
    padding: 9px;
}
.img{
    border-radius: 7px; 
    padding: 5rem 2rem;
}
.card1{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:1rem;
}

@media screen and (max-width:768px){
   header{ display: none;
   }
}